@media screen and (min-width: 320px) and (max-width: 1920px) {
    .app {
        padding: 2rem;
    }

    header {
        margin: 10px;
    }

    .header-title {
        font-size: 4rem;
        position: relative;
    }

    .about-button {
        position: absolute;
        top: 20px;
        right: 0px;
        margin: 20px;
        font-size: 16px;
    }

    .container {
        margin-top: 1rem;
    }

    .movie {
        height: 450px;
        width: 250px;
        margin: 0.5rem;
    }

    .modal {
        .modal-content {
            max-width: 500px;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 420px) {
    .header-title {
        font-size: 38px;
    }

    .about-button {
        top: 10px;
        right: 0px;
        margin: 20px;
        font-size: 16px;
    }

    .modal-details {
        width: 90%;
        max-width: 310px;
        height: 80vh;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow-y: auto;
    }

    .modal-details .modal-content-details {
        h2 {
            font-size: 24px;
        }

        .modal-image {
            width: 200px;
        }

        .close-details {
            font-size: 18px;
        }
    }

    .search {
        height: 60px;
    }

    .search input {
        overflow: hidden;

        &::placeholder {
            font-size: 1.1rem;
        }
    }

    .search button {
        font-size: 0.8rem;
        padding: 5px;
        overflow: hidden;
        width: 75px;
    }

    select {
        font-size: 14px;
        padding: 10px;
        width: 200px;
        overflow: hidden;
    }
}

@media screen and (min-width: 420px) and (max-width: 600px) {
    .modal-details {
        width: 90%;
        max-width: 400px;
        height: 80vh;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow-y: auto;
    }

    .modal-details .modal-content-details {
        h2 {
            font-size: 24px;
        }

        .modal-image {
            width: 300px;
        }

        .close-details {
            font-size: 18px;
        }
    }

    .search input {
        font-size: 1rem;
        overflow: hidden;
        height: 25px;
    }

    .search button {
        font-size: 0.8rem;
        padding: 5px 10px;
        overflow: hidden;
    }

    select {
        font-size: 14px;
        padding: 10px;
        width: 200px;
        overflow: hidden;
    }
}